/* CSS Code */
body {
  background-color: rgb(219, 215, 209);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Heading */
h1,
h2 {
  padding: 0;
  margin: 0;
}
h1 {
  color: rgb(0, 60, 255);
  font-size: 35px;
  margin: 10px;
}
h2 {
  color: rgb(52, 95, 236);
}

/* 3*3 Grid */
#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
  width: 75px;
  height: 52px;
  margin: auto;
  border: 1px solid rgb(18, 60, 201);
  border-radius: 6px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

/* Reset Button */
#reset {
  box-sizing: border-box;
  width: 95px;
  height: 40px;
  border: 1px solid dodgerblue;
  margin: 1px auto 2px auto;
  border-radius: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: dodgerblue;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Player turn space */
#print {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: dodgerblue;
  font-size: 20px;
}

/* Main Container */
#main {
  text-align: center;
}

/* Game Instruction Text */
#instruction {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: dodgerblue;
  font-size: 17px;
  margin: 0;
}
